.message {
  margin-top: 10px;
  padding: 10px;
  width: 80%; 

  &:first-of-type {
    margin-top: 30px;
  }

  &.bot {
    background: #f1f0f6;
    border-radius: 10px 10px 10px 0;
    color: #000;
  }

  &.user {
    background: #1facf7;
    border-radius: 10px 10px 0 10px;
    color: #fff;
    margin-left: auto;
  }
}

.title {
  font-size: 14;
  font-weight: 700;
}

.link {
  text-decoration: underline;
  text-align: left;
}

.item {
  display: flex;
  margin-top: 5px;

  button {
    margin-left: 5px;
    text-align: left;
    color: #1facf7;
    text-decoration: underline;
  }
}