// @import '../../../styles/settings/breakpoints';
@import 'styles/settings/breakpoints';
.posts {
  max-width: var(--container-max-width);
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  padding: 20px 15px 10px 15px;

  @media (min-width: $breakpoint_md) {
    // grid-template-columns: 50% 50%;
    grid-template-columns: 1fr 1fr 1fr;

    padding: 20px 0px 10px 0px;
    gap: 20px;
  }

  @media (min-width: $breakpoint_lg) {
  }

  @media (min-width: $breakpoint_xl) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
  }
}
