// @import '../../../styles/settings/breakpoints';
@import 'styles/settings/breakpoints';
.wrapper {
  max-width: var(--container-max-width);
  margin: 0 auto;
}
.title {
 text-align: center;
  padding-top: 30px;
  font-size: 30px;
  font-weight: 700;

  @media (min-width: $breakpoint_md) {
    font-size: 36px;
  }

  @media (min-width: $breakpoint_lg) {
    font-size: 42px;
  }

  @media (min-width: $breakpoint_xl) {
    font-size: 56px;
  }
}

.posts {
  // max-width: var(--container-max-width);
  display: grid;
  grid-template-columns: 1fr;
  // margin: 0 auto;
  padding: 20px 15px 10px 15px;

  @media (min-width: $breakpoint_md) {
    // grid-template-columns: 50% 50%;
    grid-template-columns: 1fr 1fr 1fr;

    padding: 20px 0px 10px 0px;
    gap: 20px;
  }

  @media (min-width: $breakpoint_lg) {
  }

  @media (min-width: $breakpoint_xl) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
  }
}
