 @import 'styles/settings/breakpoints.scss';

 .info {
   margin-top: 30px;
   position: relative;

   @media (min-width: $breakpoint_lg) {
     margin-top: 40px;
     font-size: 16px;
   }

   svg {
     height: 100%;
     fill: currentColor;
   }
 }

 .copy {
   margin-top: 10px;

   @media (min-width: $breakpoint_md) {
     max-width: 500px;
   }

   @media (min-width: $breakpoint_lg) {
     max-width: 650px;
   }
 }