.chatbot {
  &.active {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
}

.chatbotOpen {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100px;
  width: 100px;
  border-radius: 50%;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: scale;
    animation-timing-function: linear;
    background: rgba(105, 255, 155, 0.5);
    border-radius: inherit;
    display: block;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}

.chat {
  position: fixed;
  display: grid;
  grid-template-rows: 40px auto 50px;
  bottom: -100vh;
  right: 0;
  height: 100vh;
  width: 100%;
  background: #fff;
  visibility: hidden;
  z-index: 3;

  @media (min-width: 770px) {
    right: 10vw;
    overflow: hidden;
    height: 70vh;
    width: 380px;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 0 25px hsl(0deg 0% 100% / 30%);
  }

  &.open {
    bottom: 0;
    visibility: visible;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f4f4f4;
  border-bottom: 1px solid rgba(170, 170, 170, 0.8);
}

.logo {
  display: flex;
  align-items: center;
  height: 40px;
  padding-left: 10px;
}

.notice {
}

.close {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;

  svg {
    fill: currentColor;
    height: 20px;
    width: 20px;
  }
}

.body {
  padding: 10px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.message {
  margin-top: 10px;
  padding: 10px;
  width: 80%;

  &:first-of-type {
    margin-top: 30px;
  }

  &.bot {
    background: #f1f0f6;
    border-radius: 10px 10px 10px 0;
    color: #000;
  }

  &.user {
    background: #1facf7;
    border-radius: 10px 10px 0 10px;
    color: #fff;
    margin-left: auto;
  }
}

.list {
  opacity: 1;
}

.messageDate {
}

.footer {
  padding: 5px 10px;
  background: #f4f4f4;
  border-top: 1px solid hsla(0, 0%, 67%, 0.5);
}

.form {
  display: grid;
  grid-template-columns: auto 36px;
  grid-gap: 5px;
  gap: 5px;
  height: 100%;
  input {
    outline: none;
  }
}

.input {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 3px 10px;
  background: #fff;
  overflow: hidden;
  border: 1px solid #aaa;
  border-radius: 30px;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 36px;
  background: #1facf7;
  border-radius: 50%;
  color: #fff;
  transition: all 0.3s;

  &.disabled {
    background: transparent;
    border: 1px solid;
    color: currentColor;
    opacity: 0.5;
  }
}
